.breadcrumb {
  background-color: "[theme: themePrimary, default: #0078d7]";
  color: white;
  padding: 5px 10px;

  a {
    //text-decoration: underline;
    cursor: pointer;
  }

  .userAgent {
    color: white;
    float: right;
    background-color: #EF463C;
  }
}

.empty {
  color: white;
}

:global {
  [class*="MobileUpsellView_"] {
    display: none !important;
  }
}
